github "mitchellhenke/LoopKit" "mitchellhenke-rsilvers-fpu"
github "jbayart/CGMBLEKit" "FPU"
github "i-schuetz/SwiftCharts" == 0.6.5
github "jbayart/dexcom-share-client-swift.git" "FPU"
github "jbayart/G4ShareSpy" "FPU"
github "jbayart/rileylink_ios" "FPU"
github "LoopKit/Amplitude-iOS" "decreepify"
github "jbayart/spike-client-swift-195" "FPU"
